<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8" content="Dynamics"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

<!--    <meta name="keywords" content="Dynamics">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dynamics Project Oriented Community">
    <meta name="author" content="Dynamics Project Oriented Community">
    <meta name="keywords" content="Dynamics Project Oriented Community">
    <title>Dynamics</title>

</head>


<body>

<div class="section-wb">
    <div class="container">

        <center>
            <img src="logo1.png" alt="logo1">
        </center>

        <hr>

        <br>

        <div class="section-title">
            <h1 style="color: green" th:text="'Name:  '+ ${name}"/>
            <h4 th:text="'USN:  ' + ${usn}"></h4>
            <h4 th:text="'Branch:  ' + ${branch}"></h4>
            <h4 th:text="'Year:  ' + ${year}"></h4>
            <h4 th:href="@{${email}}" th:text="'Email:  ' + ${email}"></h4>
            <h4 th:text="'Contact:  ' + ${contact}"></h4>
            <h4 th:text="'Programming Languages:  ' + ${pLanguage}"></h4>
            <h4 th:text="'Number of Projects:  ' + ${projects}"></h4>
            <h4 th:text="'Groups:  ' + ${groups}"></h4>
            <h4 th:href="@{${github}}" th:text="'Github:  ' + ${github}"></h4>
            <h4 th:href="@{${linkedin}}" th:text="'LinkedIn:  ' + ${linkedin}"></h4>
<!--            <h4 th:text="'Hackerrank:  ' + ${hackerrank}"></h4>-->
<!--            <h4 th:text="'LeetCode:  ' + ${leetcode}"></h4>-->
            <br>
            <p style="page-break-after: always;">.</p>
            <h4>Why Should I join Dynamics?</h4>
            <p th:text="${why}">.</p>
            <br>
            <h4>Why should Dynamics hire you?</h4>
            <p th:text="${whys}">.</p>
            <br>
            <h4>About Dynamics</h4>
            <p th:text="${about}">.</p>
        </div>

    </div>
</div>

</body>
</html>