<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>CODE ARENA '21 | SIT, Tumkur</title>
<meta name="keywords" content="Code Arena 2021">
<meta name="description" content="Online National Level Coding Battle">
<meta name="author" content="Dynamics POC, SIT, Tumkur">

<link rel="shortcut icon" href="/mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/style.css">
<link type="text/css" rel="stylesheet" href="/css/responsive.css">
<link type="text/css" rel="stylesheet" href="/css/custom.css">
<!--<link type="text/css" href="http://fonts.cdnfonts.com/css/blanka" rel="stylesheet">-->
<script type="text/javascript" src="/js/modernizr.js"></script>

<style>


        #abstract {
            text-align: left;
        }
        #pic {
            float: left;
        }
</style>

</head>
<body id="page-top" class="politics_version">

<div id="preloader">
    <div id="main-ld">
        <div id="loader"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="">
            <img class="img-fluid" src="/mainimages/ca3.png" width=250 height=50 alt="" />
        </a>
<!--        <h1 style="font-size: 2vw; font-family: 'Blanka', sans-serif;"  class="nav-link js-scroll-trigger">&ensp;CODE ARENA 2021</h1>-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="http://www.dynamicspoc.in/">Dynamics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#eventtimeline">Timeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="home" class="main-banner parallaxie" style="background: url('/mainimages/cavideo.gif')">
    <div class="heading">
        <img src="/mainimages/sit150.png"> <img src="/mainimages/logo130.png">
        <div>
            <br>
        </div>
        <h1>
            Siddaganga Institute of Technology
        </h1>
        <h3 class="cd-headline clip is-full-width">
            <span>Department of Computer Science and Engineering </span>
        </h3>
        <h2 id="date">Presents</h2>
        <h1 font-size="3em">CODE ARENA 2021</h1>
        <h3 class="cd-headline clip is-full-width">
            <span>AN ONLINE CODING BATTLE</span>
        </h3>
        <h2 id="date">16 December - 18 December, 2021</h2>
        <h2 id="type">A 3 Day, National Level Coding Battle</h2>
        <div class="col-lg-12 text-center">
            <a href="#register" class="sim-btn hvr-bounce-to-top btn-lg" style="background: red;"
               value="Register"><b>Register</b>
            </a>
        </div>
    </div>
</section>

<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h2>Siddaganga Institute of Technology, Tumkur</h2>
                    <p>
                        Siddaganga Institute of Technology (SIT), Tumkur is a private college that is affiliated with the Visvesvaraya Technological University or VTU. It was founded by his holyness Dr. Sree Sree Sivakumara Swamiji. SIT Tumkur has been given its autonomous status by the University Grants Commission, New Delhi, Government of the state, and VTU, Belagavi.  Approved by AICTE, it is one among the 130+ educational institutions run by the Sri Siddaganga Educational Society.
                        <br>
                    <div class="col-lg-12 text-center">
                        <a href="http://www.sit.ac.in/html/home.html" class="sim-btn btn-success hvr-bounce-to-top btn-lg"
                                value="Learn More"><b>Learn More</b>
                        </a>
                    </div>

                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="wow fadeIn">
                    <img src="/mainimages/sitc.png" alt="" class="img-fluid img-rounded">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="section wb">
    <div>
        <br>
    </div>
    <div>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wow fadeIn">
                    <img style="width: auto; height: auto;" src="/mainimages/code.png" alt="" class="img-fluid img-rounded">
                </div>
            </div>
            <div class="col-md-6">
                <div class="message-box">
                    <h2 class="black-lives-matter">CODE ARENA 2021</h2>
                    <p>
                        CODE ARENA is the first ever National Level Coding Battle to be conducted by Siddaganga Institute of Technology, Tumkur. The rules of the battle are similar to that of boxing games i.e. if one among the two opponents finishes the execution of the assigned problem statement before the other then he will be declared as the winner of the round.
                        <br>
                        Competitive Coding has become a must do activity for an IT Engineer. Keeping this in mind CODE ARENA would give you the opportunity to showcase your skills in hands on battle combats. Combat with the most dreadful coders and beat them.
                        <br>
                        CODE ARENA is hosted by Team Dynamics Project Oriented Community under the supervision of Department of Computer Science and Engineering. It is associated with the platform partners VsCode, LiveShare, HackerRank and powered by Computer Society of India (CSI).
                    </p>
                </div>
                <div class="text-center">
                    <a href="#register" class="sim-btn btn-success hvr-bounce-to-top btn-lg"><b>Register</b></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section wb">
    <div class="container">
        <div class="section-title">
            <h3>Event/Registration Details</h3>
            <br>
            <p style="font-size:2em;"><b style="color:black">Download : </b><a href="https://drive.google.com/file/d/13KRaoSRJwKSVeEJNDcde3PX-Bhr9C4MW/view?usp=sharing" style="color: rgb(238, 200, 30);">click here</a></p>
        </div>
    </div>
</div>


<div id="eventtimeline" class="section wb">
    <div class="section-title text-center">
        <h3>Timeline</h3>
    </div>
    <div class="timeline">
        <div class="container1 left">
            <div class="content1" style="background: aliceblue;">
                <h2>3 December 2021</h2>
                <p style="color: black;">Registration Opens</p>
            </div>
        </div>
        <div class="container1 right">
            <div class="content1" style="background: aliceblue;">
                <h2>13 December 2021</h2>
                <p style="color: black;">Registration Freezes</p>
            </div>
        </div>
        <div class="container1 left">
            <div class="content1" style="background: aliceblue;">
                <h2>14 December</h2>
                <p style="color: black;">Introductory Event</p>
            </div>
        </div>
        <div class="container1 right">
            <div class="content1" style="background: aliceblue;;">
                <h2>16 December 2021</h2>
                <p style="color: black;">CODE ARENA HACKERRANK ROUND</p>
            </div>
        </div>
        <div class="container1 left">
            <div class="content1" style="background: aliceblue;">
                <h2>17 December 2021</h2>
                <p style="color: black;">CODE ARENA QUARTER FINALS</p>
            </div>
        </div>
        <div class="container1 right">
            <div class="content1" style="background: aliceblue;">
                <h2>18 December 2021</h2>
                <p style="color: black;">CODE ARENA SEMI-FINAL and FINAL</p>
            </div>
        </div>
    </div>
</div>


<div id="register" class="section db" style="background: white;">
    <div class="container">
        <div class="section-title text-center">
            <h3>Register</h3>
        </div>
        <form class="contact_form" th:action="@{/codearena/addCoding}" th:object="${codingUser}" method="post">
            <!--            <p class="helper-text">* denotes a required field</p>-->
            <div th:if="${warning != null}" class="alert alert-danger text-center">[[${warning}]]</div>
            <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>

            <div class="row g-3" style="justify-content: center;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="firstName">First name</label>
                        <input type="text" id="firstName" class="form-control" th:field="*{firstName}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label cf" for="lastName">Last name</label>
                        <input type="text" id="lastName" class="form-control" th:field="*{lastName}" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label" for="college">College</label>
                        <input type="text" id="college" class="form-control" th:field="*{college}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Year</label>
                        <select class="form-control" style="height: 54px" th:field="*{year}">
                            <option value="0">--Select--</option>
                            <option value="1st Year"> 1st Year </option>
                            <option value="2nd Year"> 2nd Year </option>
                            <option value="3rd Year"> 3rd Year </option>
                            <option value="4th Year"> 4th Year </option>
                        </select>
                    </div>
                </div>
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="form-label">Branch</label>-->
<!--                        <select class="form-control" th:field="*{branch}" required>-->
<!--                            <option value="0">&#45;&#45;Select&#45;&#45;</option>-->
<!--                            <option value="BIO">Bio Technology</option>-->
<!--                            <option value="CHEM">Chemical Engineering</option>-->
<!--                            <option value="CIVIL">Civil Engineering</option>-->
<!--                            <option value="CSE"> Computer ScienceEngineering </option>-->
<!--                            <option value="ISE">Information Science Engineering</option>-->
<!--                            <option value="EEE">Electrical Electronics Engineering</option>-->
<!--                            <option value="ECE">Electronics Communication Engineering</option>-->
<!--                            <option value="EIE">Electronics Instrumentation Engineering</option>-->
<!--                            <option value="MECH">Mechanical Engineering</option>-->
<!--                            <option value="TEL">Telecommunication Engineering</option>-->
<!--                            <option value="OTHERS">Others</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="branch">Branch</label>
                        <input type="text" id="branch" class="form-control" th:field="*{branch}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="usn">University Registration Number</label>
                        <input type="text" id="usn" class="form-control" th:field="*{usn}" required>
                    </div>
                </div>
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="form-label">Event</label>-->
<!--                        <select class="form-control" style="height: 54px" th:field="*{event_name}">-->
<!--                            <option value="0">&#45;&#45;Select&#45;&#45;</option>-->
<!--                            <option value="CODE@ARENA">CODE@ARENA</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">HackerRank ID</label>
                        <input type="url" id="hack_id" class="form-control" th:field="*{hack_id}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" class="form-control" th:field="*{email}" required>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="tel">Contact Number</label>
                        <input type="tel" id="tel" class="form-control" th:field="*{contact}" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">ID Card Drive Link</label>
                        <input type="url" id="id_url" class="form-control" th:field="*{idUrl}" required>
                    </div>
                </div>

                <div class="col-lg-12 text-center">
                    <button type="submit" class="sim-btn btn-success hvr-bounce-to-top btn-lg"
                            value="Register"><b>Register</b>
                    </button>
                    <button type="reset" class="sim-btn btn-warning hvr-bounce-to-top btn-lg" value="Clear"><b>Clear</b>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="services" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3 class="black-lives-matter">Sponsors</h3>
        </div>
        <div class="section-title">
            <h2 id="abstract">Platinum Sponsors</h2>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <a href="http://csi-india.org.in/">
                    <img src="/mainimages/csi-logo.png" class="img-fluid">
                </a>
            </div>
            <!-- <div class="col-md-4 col-sm-6 col-lg-4">
                <a href="https://devfolio.co/home/">
                    <img src="{% static 'images/mainimages/devfolio_1.png' %}" class="img-fluid">
                </a>
            </div> -->
        </div>
        <!-- <div class="section-title">
            <h2 id="abstract">Gold Sponsors</h2>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <a href="https://polygon.technology/">
                    <img src="{% static 'images/mainimages/polygon.png' %}" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <a href="https://www.portis.io">
                    <img src="{% static 'images/mainimages/portis_1.png' %}" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <a href="https://tezos.com">
                    <img src="{% static 'images/mainimages/tezoz.png' %}" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
            </div>

            <div class="col-md-4 col-sm-6 col-lg-4">
                <a href="https://celo.org ">
                    <img src="{% static 'images/mainimages/celo.png' %}" class="img-fluid">
                </a>
            </div>
        </div> -->
    </div>
</div>

<div id="contact" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>
                Contact Us
            </h3>

            <h2><a href="mailto:dynamicspoc19.cse@sit.ac.in"><b>dynamicspoc19.cse@sit.ac.in</b></a></h2>
        </div>


    </div>
</div>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="/mainimages/sit_f.png" alt="" /></a>
<!--            <div class="footer-center">-->
<!--                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>-->
<!--                <p class="footer-links">-->
<!--                    <a href="/dynamics">Home</a>-->
<!--                    <a href="/dynamics/aboutus">About US</a>-->
<!--                    <a href="/dynamics/portfolio">Portfolio</a>-->
<!--                    <a href="/dynamics/project">Projects & Achievements</a>-->
<!--                    <a href="/dynamics/events">Events</a>-->
<!--                    <a href="/dynamics/recruitment">Recruitments</a>-->
<!--                    <a href="/dynamics/team">Our Team</a>-->
<!--                    <a href="/dynamics/contactus">Contact Us</a>-->
<!--                </p>-->
                <p class="footer-company-name">All Rights Reserved. &copy; 2021  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>


<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>



<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/parallaxie.js"></script>
<script type="text/javascript" src="/js/headline.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.vide.js"></script>

</body>
</html>