<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Dynamics | Coding Event</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/style.css">
<link type="text/css" rel="stylesheet" href="/css/responsive.css">
<link type="text/css" rel="stylesheet" href="/css/custom.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



<script type="text/javascript" src="/js/modernizr.js"></script>


</head>
<body id="page-top" class="politics_version">

<div id="preloader">
    <div id="main-ld">
        <div id="loader"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid" src="BOSE.jpg" alt="" />
        </a>
    </div>
</nav>

<section id="home" class="main-banner parallaxie" style="background: url('/mainimages/codingevent.jpg')">
    <div class="heading">
        <h1>CODE ARENA 2021</h1>
    </div>
</section>

<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h2>About</h2>
                    <p>
                        CODE ARENA is the first ever National Level Coding Battle to be conducted by Siddaganga Institute of Technology, Tumkur. The rules of the battle are similar to that of boxing games i.e. if one among the two opponents finishes the execution of the assigned problem statement before the other then he will be declared as the winner of the round.<br><br>Competitive Coding has become a must do activity for an IT Engineer. Keeping this in mind CODE ARENA would give you the opportunity to showcase your skills in hands on battle combats. Combat with the most dreadful coders and beat them.<br><br>CODE ARENA is hosted by Team Dynamics Project Oriented Community under the supervision of Department of Computer Science and Engineering. It is associated with the platform partners VsCode, LiveShare, HackerRank and powered by Computer Society of India (CSI).

                    </p>
<!--                    <h4>-->
<!--                        Rules:-->
<!--                    </h4>-->
<!--                    <p>-->
<!--                        1. There will be 2 rounds: Round 1 and Round 2. From Round 1 top 20 participants will be-->
<!--                        shortlisted for Round 2.-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        2. There will 3 problem statements for each round. Two usual questions and one BONUS-->
<!--                        question.-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        3. The time duration for Round 1 is 2 hours and for Round 2is 3 hrs.-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        4. If the hackerrank id doesn't match with the one given at the time of registration will-->
<!--                        result in disqualification.-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        5. Code Plagiarism will result in disqualification.-->
<!--                    </p>-->
                </div>
            </div>

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="/mainimages/codearena_logo.png" alt="" class="img-fluid img-rounded">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="time_venue" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>
                Time & Venue
            </h3>
        </div>
        <div class="row">
            <div class="section-title text-center" >
                <h2>
                    Date:
                </h2>
                <h2>
                    Venue:
                </h2>
            </div>
        </div>
    </div>
</div>


<div id="contact" class="section db">
    <div class="container">
        <div class="section-title text-center">
            <h3>Register</h3>
        </div>
        <form class="contact_form" th:action="@{/codearena/addCoding}" th:object="${codingUser}" method="post">
            <!--            <p class="helper-text">* denotes a required field</p>-->
            <div th:if="${warning != null}" class="alert alert-danger text-center">[[${warning}]]</div>
            <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>

            <div class="row g-3" style="justify-content: center;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="firstName">First name</label>
                        <input type="text" id="firstName" class="form-control" th:field="*{firstName}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label cf" for="lastName">Last name</label>
                        <input type="text" id="lastName" class="form-control" th:field="*{lastName}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Year</label>
                        <select class="form-control" style="height: 54px" th:field="*{year}">
                            <option value="0">--Select--</option>
                            <option value="1st Year"> 1st Year </option>
                            <option value="2nd Year"> 2nd Year </option>
                            <option value="3rd Year"> 3rd Year </option>
                            <option value="4th Year"> 4th Year </option>
                        </select>
                    </div>
                </div>
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="form-label">Branch</label>-->
<!--                        <select class="form-control" th:field="*{branch}" required>-->
<!--                            <option value="0">&#45;&#45;Select&#45;&#45;</option>-->
<!--                            <option value="BIO">Bio Technology</option>-->
<!--                            <option value="CHEM">Chemical Engineering</option>-->
<!--                            <option value="CIVIL">Civil Engineering</option>-->
<!--                            <option value="CSE"> Computer ScienceEngineering </option>-->
<!--                            <option value="ISE">Information Science Engineering</option>-->
<!--                            <option value="EEE">Electrical Electronics Engineering</option>-->
<!--                            <option value="ECE">Electronics Communication Engineering</option>-->
<!--                            <option value="EIE">Electronics Instrumentation Engineering</option>-->
<!--                            <option value="MECH">Mechanical Engineering</option>-->
<!--                            <option value="TEL">Telecommunication Engineering</option>-->
<!--                            <option value="OTHERS">Others</option>-->

<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="usn">USN</label>
                        <input type="text" id="usn" class="form-control" th:field="*{usn}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Event*</label>
                        <select class="form-control" style="height: 54px" th:field="*{event_name}">
                            <option value="0">--Select--</option>
                            <option value="CODE@ARENA">CODE@ARENA</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">HackerRank ID*</label>
                        <input type="url" id="hack_id" class="form-control" th:field="*{hack_id}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" class="form-control" th:field="*{email}" required>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label" for="tel">Contact</label>
                        <input type="tel" id="tel" class="form-control" th:field="*{contact}" required>
                    </div>
                </div>

                <div class="col-lg-12 text-center">
                    <button type="submit" class="sim-btn btn-success hvr-bounce-to-top btn-lg"
                            value="Register"><b>Register</b>
                    </button>
                    <button type="reset" class="sim-btn btn-warning hvr-bounce-to-top btn-lg" value="Clear"><b>Clear</b>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>
                <p class="footer-links">
                    <a href="/dynamics">Home</a>
                    <a href="/dynamics/aboutus">About US</a>
                    <a href="/dynamics/portfolio">Portfolio</a>
                    <a href="/dynamics/project">Projects & Achievements</a>
                    <a href="/dynamics/events">Events</a>
                    <a href="/dynamics/recruitment">Recruitments</a>
                    <a href="/dynamics/team">Our Team</a>
                    <a href="/dynamics/contactus">Contact Us</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>


<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>



<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/parallaxie.js"></script>
<script type="text/javascript" src="/js/headline.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.vide.js"></script>

</body>
</html>